[Desktop Entry]
Actions=Update;OpenFolder;
Type=Application
Name=LiDrop
GenericName=Dateiübertragung
Comment=Dateien direkt im lokalen Netzwerk senden und empfangen
Exec=/usr/local/bin/limad-drop
Icon=de.limad.Drop
Terminal=false
Categories=Network;FileTransfer;
StartupNotify=true
StartupWMClass=de.limad.Drop
Keywords=Dateien;Senden;Empfangen;Smartphone;QR;WLAN;
X-LiMaD-Version=0.12.0-preview8

[Desktop Action Update]
Name=Nach Updates suchen
Exec=/usr/local/bin/limad-updater --app de.limad.Drop
Icon=de.limad.Drop

[Desktop Action OpenFolder]
Name=LiDrop-Ordner öffnen
Exec=/usr/local/bin/limad-open-drop-folder
Icon=de.limad.Drop
